{% extends 'base.html' %}

<html>

    <head>
        <title>Calendar Page</title>
    </head>

    <body>
        <div>

            {% block content %}
            <h1 class="title">PyCalendar</h1>

            <a class="right" href="{% url 'users:Logout_user' %}"> Logout &nbsp;</a>
            <a class="right" href="{% url 'users:Update_user' %}"> Settings &nbsp;</a>
            <br>

            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'CalendarSite:calendarSite' %}?{{ prev_month }}"> Previous </a>
                <a class="btn btn-info right" href="{% url 'CalendarSite:calendarSite' %}?{{ next_month }}"> Next </a>
                <a class="btn btn-info right" href="{% url 'CalendarSite:calendarNew' %}"> New Event </a>
            </div>

            {{ calendar|safe }}
            {% endblock %}

        </div>
    </body>
</html>
