{% extends 'base.html' %}

<h1>Calendar</h3>

<html>

    <head>
        <title>Calendar Page</title>
    </head>

    <body>
        <div>
            <!--
            {% for item in items %}
                <h3>{{ item.Name }}</h3>
                <p>{{ item.Description }}</p>
                <p>{{ item.Tag }}</p>
                <p>{{ item.Date }} at {{ item.Time }}</p>
            {% endfor %}
            -->


            {% block content %}
            <div class="clearfix">
                <a class="btn btn-info left" href="{% url 'CalendarSite:calendarSite' %}?{{ prev_month }}">Previous</a>
                <a class="btn btn-info right" href="{% url 'CalendarSite:calendarSite' %}?{{ next_month }}">Next</a>
            </div>
            
            {{ calendar|safe }}
            {% endblock %}

        </div>
    </body>
</html>