{% extends 'base.html' %}

<html><body>
    {% block content %}
    <h1 class="title">User Password Change</h1>

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'CalendarSite:calendarSite' %}">Calendar</a>
        <a class="btn btn-info left" href="{% url 'users:Update_user' %}">Settings</a>
    </div>
    <br>

    <div class="clearfix">
        <h3>Update Profile - {{ user.email }}</h3>
    </div>

    <form class="clearfix" action="{% url 'users:Update_password_user' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input class="btn btn-info" type="submit" value="Save">
    </form>
    {% endblock %}
</body></html>